body cad-splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #666666;*/
  color: #f9fafb;
  z-index: 999999;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(180deg, #ffb7b7 0%, #727272 100%),
    radial-gradient(60.91% 100% at 50% 0%, #ffd1d1 0%, #260000 100%),
    linear-gradient(238.72deg, #ffdddd 0%, #720066 100%),
    linear-gradient(127.43deg, #00ffff 0%, #ff4444 100%),
    radial-gradient(100.22% 100% at 70.57% 0%, #ff0000 0%, #00ffe0 100%),
    linear-gradient(127.43deg, #b7d500 0%, #3300ff 100%);
  background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge, normal;
}

body cad-splash-screen img {
  width: 120px;
  max-width: 120px;
}

body cad-splash-screen .spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 56px;
}

body cad-splash-screen .spinner > div {
  width: 12px;
  height: 12px;
  background-color: #1e96f7;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: cad-bouncedelay 1s infinite ease-in-out both;
  animation: cad-bouncedelay 1s infinite ease-in-out both;
}

body cad-splash-screen .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

body cad-splash-screen .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes cad-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes cad-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

body:not(.cad-splash-screen-hidden) {
  overflow: hidden;
}

body.cad-splash-screen-hidden cad-splash-screen {
  visibility: hidden;
  opacity: 0;
}
